*{
    margin: 0;
    padding: 0;
    /* background: aqua; */
}
body{
    background-image: url(Sweetyphoto.jpeg);
background-repeat: no-repeat;

}
/* .po{
    background-image: url(Sweetyphoto.jpeg);
} */
a {
    text-decoration: none;
  }
  ul{
    display: flex;
  }
  li{
    list-style: none;
  }
  .nav {
    margin-left: 650px;
    height: 10px;
    /* margin-top: 20px; */
  }
 
  .box{
    border: 2px solid black;
    margin-top: 0px;
    background: black;
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 100;
    opacity: 0.5px;
  }
  .nav a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 10px;
    animation: slidetop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  .nav a:hover {
    background-color: purple;
    border: 1.5px red;
    /* transition: scale(1.5); */
  }
  .logo {
    font-size: xx-large;
  }
  .logo:hover{
    color: aqua;
    font-size: 50px;
  }